@charset "UTF-8";
/*	
*	############################################################################
*	
*	Dumbo Dashboard Style
*	---------------------------------------------------------------------
*
*	Version		1.1
*	Author		ThemesWallet
*	Copyright	Copyright 2021 - ThemesWallet
*	
*	############################################################################

*   Table of Contents
*   ----------------------------------------------------------------------
*
*   1. Global
*
*   2. Typography
*
*   3. Buttons
*
*/


/* --------------------------
 * Colors
 * -------------------------- */
.primary-green {
    color: #62BE00;
}

.primary-green-light {
    background-color: #D0EEB3;
}

.primary-green-dark {
    color: #008D18;
}

.primary-green-bg {
    background-color: #62BE00;
    color: #ffffff;
}

.primary-green-light-bg {
    background-color: #D0EEB3;
    color: #ffffff;
}

.primary-green-dark-bg {
    background-color: #008D18;
    color: #ffffff;
}

.primary-orange-bg {
    background-color: #ffb000;
}

.secondary-dark-gray-bg {
    background-color: #245a5d;
}

.bg-warning {
    background: #f9944a !important;
}

.text-dark {
    color: #8c8c8c;
}

/* --------------------------
 * Structure
 * -------------------------- */

.w-40 {
    max-width: 450px !important;
}

label {
    font-size: 14px;
}

.custom-h-lg {
    height: 382px;
}

.custom-h-md {
    height: 200px;
}

.border-r-100 {
    border-radius: 100px;
}

.border-r-md {
    border-radius: 15px;
}

.border-r-sm {
    border-radius: 8px;
}

.letters-sp {
    letter-spacing: .05em;
}

/* --------------------------
 * 1. Global
 * -------------------------- */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #8c8c8c;
    background-color: #fff;
}


a {
    text-decoration: none !important;
}

/* --------------------------
 * 2. Typography 
 * -------------------------- */
h1,
h2,
h3 {
    color: #636363;
    font-weight: 700;
}

h5,
h6,
h4 {
    font-weight: 600;
}

span {
    font-size: 13px;
    font-weight: 500;
}


/* --------------------------
 * 3. Buttons
 * -------------------------- */

.dumbo-btn {
    padding: 10px 70px;
    border-radius: 100px;
    font-weight: 500;
    border: 0px;
}

.dumbo-btn-sm {
    font-size: .875rem;
    line-height: 1.5em;
    border-radius: 100px;
}

.dumbo-btn:hover,
.dumbo-btn-sm:hover {
    background-color: #6aca03;
    color: #ffffff;
}



/* --------------------------
 * 4. Forms
 * -------------------------- */
input {
    border-radius: 7px !important;
    background-color: #f8f8f8 !important;
    border: 1px solid #ececec !important;
    outline: 0px !important;
    box-shadow: none !important;
    padding: 20px 15px !important;
}

input:active,
input:focus {
    border: 1px solid #62BE00 !important;
}

.form-group {
    position: relative;
}

.form-group>.input-icon {
    position: absolute;
    top: 42px;
    right: 15px;
    opacity: 0.6;
    width: 20px;
    height: 20px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.form-group>input {
    padding-left: 40px;
}

.checkbox-label {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 0px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.checkbox-label:not(:last-child) {
    margin-right: 6px;
}

.checkbox-label span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    font-size: .900rem;
}

.checkbox-label span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-label span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-label span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.checkbox-label:hover span:first-child {
    border-color: #07f;
}

.dumbo-cb {
    position: absolute;
    visibility: hidden;
}

.dumbo-cb:checked+.checkbox-label span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave 0.4s ease;
}

.dumbo-cb:checked+.checkbox-label span:first-child svg {
    stroke-dashoffset: 0;
}

::placeholder {
    color: #b4b4b4 !important;
    opacity: 1 !important;
    font-size: .875rem;
}

.inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

/* --------------------------
 * 5. Card
 * -------------------------- */

.dumbo-card {
    z-index: 10;
}

.dumbo-card .illustration {
    width: 176px !important;
}


/* --------------------------
 * 6. Chart
 * -------------------------- */
.dchart {
    margin: 0px -20px;
}

.dchart-lg {
    margin: 0px -50px;
}

.apexcharts-bar-series.apexcharts-plot-series .apexcharts-series path {
    clip-path: inset(0% 0% -100% 10% round 10px);
}

.apexcharts-xaxis-tick {
    display: none;
}

.apexcharts-legend-series {
    margin: 2px 3px !important;
    padding: 6px 10px;
    background-color: #f1f1f1;
    border-radius: 100px;
}

.arrow_box {
    position: relative;
    background: #223345;
    padding: 0px 5px;
    border-radius: 5px;
    right: 36px;
}

.arrow_box:after {
    border-right-color: #223345;
    border-width: 10px;
    margin-top: 10px;
}

.arrow_box:before {
    border-width: 13px;
    margin-top: -13px;
}

#chartCard2 .apexcharts-tooltip {
    color: #fff;
    font-weight: 600;
    transform: translateX(10px) translateY(10px);
    overflow: visible !important;
    white-space: normal !important;
    box-shadow: none !important;

}

#chartCard2 .apexcharts-tooltip span {
    padding: 5px 10px;
    display: inline-block;
}

#chartCard2 .apexcharts-theme-light {
    background: transparent !important;
    border: transparent !important;
}

/* --------------------------
 * 7. Kanban Board
 * -------------------------- */
.board {
    position: relative;
    margin-left: 1%;
}

.board-column {
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    margin: 0 1.5%;
    background: #f0f0f0;
    border-radius: 3px;
    z-index: 1;
    will-change: transform;
}

.board-column.muuri-item-releasing {
    z-index: 2;
}

.board-column.muuri-item-dragging {
    z-index: 3;
    cursor: move;
}

.board-column-header {
    position: relative;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 20px;
    color: #fff;
}


.board-column-content {
    position: relative;
    border: 10px solid transparent;
    min-height: 150px;
}

.board-item {
    position: absolute;
    width: 100%;
    margin: 5px 0;
    will-change: transform;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.board-item.muuri-item-releasing {
    z-index: 9998;
}

.board-item.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
}

.board-item.muuri-item-hidden {
    z-index: 0;
}



/* --------------------------
 * 7. Icons
 * -------------------------- */
.icon-circle {
    width: 50px;
    height: 50px;
}

.icon-circle svg {
    margin: 12.5px;
}

.action-icon {
    border-radius: 5px;
    background-color: #f7f7f7;
}

.action-icon svg {
    margin: 4px 5px;
    width: 15px;
}


/* --------------------------
 * 8. Avatars
 * -------------------------- */
.avatar-wrapper p {
    font-weight: 600;
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.avatar-lg {
    width: 95px;
    height: 95px;
    background-color: #f0f0f0;
    top: -50px;
    right: 38%;
    border: 4px solid #fff;
}

.avatar-md {
    width: 43px;
    height: 43px;
    background-color: #f0f0f0;
    overflow: hidden;
    border: 2.5px solid #fff;
}

.avatar-sm {
    width: 35px;
    height: 35px;
    background-color: #f0f0f0;
    overflow: hidden;
    border: 2.5px solid #fff;
}

.avatar-sm svg {
    margin: 6.5px;
}

.online {
    width: 10px;
    height: 10px;
    top: 29px;
    left: 33px;
    border: 2px solid #fff;
}

/* --------------------------
 * 8. Misc
 * -------------------------- */
.custom-badge-danger {
    color: #dc4545;
    background-color: #fae8e9;
}

.custom-badge-success {
    background-color: #d6f1bd;
    color: #62BE00;
    padding: 8px 10px;
    font-weight: 500;
    border: 1px solid #c2f395;
}

.custom-badge-warning {
    background-color: #ffefbe;
    color: #d6aa27;
    padding: 8px 10px;
    font-weight: 500;
    border: 1px solid #fbe297;
}

.illu {
    width: 300px;
    top: 175px;
    right: 100px;
    z-index: 5;
}

.illu-two {
    width: 100px;
    top: 355px;
    left: 255px;
    z-index: 5;
}

@-moz-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}