@charset "UTF-8";
/*	
*	############################################################################
*	
*	Dumbo Dashboard Style
*	---------------------------------------------------------------------
*
*	Version		1.1
*	Author		ThemesWallet
*	Copyright	Copyright 2021 - ThemesWallet
*	
*	############################################################################

*   Table of Contents
*   ----------------------------------------------------------------------
*
*   1. Global
*
*   2. Typography
*
*   3. Buttons
*
*/


/* --------------------------
 * Colors
 * -------------------------- */
.primary-green {
    color: #62BE00;
}

.primary-green-light {
    background-color: #D0EEB3;
}

.primary-green-dark {
    color: #008D18;
}

.primary-green-bg {
    background-color: #62BE00;
    color: #ffffff;
}

.primary-green-light-bg {
    background-color: #D0EEB3;
    color: #ffffff;
}

.primary-green-dark-bg {
    background-color: #008D18;
    color: #ffffff;
}

.primary-orange-bg {
    background-color: #ffb000;
}

.text-dark {
    color: #8c8c8c;
}

/* --------------------------
 * Structure
 * -------------------------- */

.w-40 {
    width: 40% !important;
}

label {
    font-size: 14px;
}

/* --------------------------
 * 1. Global
 * -------------------------- */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #8c8c8c;
    background-color: #fff;
}

img {
    width: 100%;
}

a {
    text-decoration: none !important;
}

/* --------------------------
 * 2. Typography 
 * -------------------------- */
h1,
h2,
h3 {
    color: #636363;
    font-weight: 700;
}

h5,
h6,
h4 {
    font-weight: 600;
}

span {
    font-size: 14px;
}

/* --------------------------
 * 3. Buttons
 * -------------------------- */

.dumbo-btn {
    padding: 10px 70px;
    background-color: #62BE00;
    color: #ffffff;
    border-radius: 100px;
    font-weight: 500;
    border: 0px;
}

.dumbo-btn:hover {
    background-color: #6aca03;
    color: #ffffff;
}

.dumbo-btn-disabled {
    padding: 10px 70px;
    background-color: #A0A7A9;
    color: #f0f0f0;
    border-radius: 100px;
    font-weight: 500;
    border: 0px;
}

/* --------------------------
 * 4. Forms
 * -------------------------- */
input {
    border-radius: 7px !important;
    background-color: #f8f8f8 !important;
    border: 1px solid #ececec !important;
    outline: 0px !important;
    box-shadow: none !important;
    padding: 20px 15px !important;
}

input:active,
input:focus {
    border: 1px solid #62BE00 !important;
}

.checkbox-label {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 0px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.checkbox-label:not(:last-child) {
    margin-right: 6px;
}

.checkbox-label span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-label span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-label span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-label span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.checkbox-label:hover span:first-child {
    border-color: #07f;
}

.dumbo-cb {
    position: absolute;
    visibility: hidden;
}

.dumbo-cb:checked+.checkbox-label span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave 0.4s ease;
}

.dumbo-cb:checked+.checkbox-label span:first-child svg {
    stroke-dashoffset: 0;
}

::placeholder {
    color: #b4b4b4 !important;
    opacity: 1 !important;
}

.inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

/* --------------------------
 * 5. Cards
 * -------------------------- */

.dumbo-card {
    border-radius: 15px;
    z-index: 10;
}

.dumbo-card-sm {
    border-radius: 8px;
}

.dumbo-card-sm p {
    font-size: 13px !important;
}


/* --------------------------
 * 6. Chart
 * -------------------------- */
.dchart {
    margin: 0px -20px;
}

.apexcharts-bar-series.apexcharts-plot-series .apexcharts-series path {
    clip-path: inset(0% 0% -100% 10% round 10px);
}

.apexcharts-xaxis-tick {
    display: none;
}


/* --------------------------
 * 7. Icons
 * -------------------------- */
.icon-circle {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.icon-circle svg {
    margin: 12.5px;
}

/* --------------------------
 * 8. Avatars
 * -------------------------- */
.avatar-photo {
    width: 43px;
    height: 43px;
    border-radius: 100px;
    background-color: #f0f0f0;
    overflow: hidden;
    border: 2px solid #fff;
}

.avatar p {
    font-weight: 600;
    font-size: 14px;
}

.avatar span {
    font-size: 13px;
}


/* --------------------------
 * 8. Misc
 * -------------------------- */
.custom-badge-danger {
    color: #dc4545;
    background-color: #fae8e9;
    border-radius: 100px;
}

.custom-badge-success {
    background-color: #d6f1bd;
    color: #62BE00;
    border-radius: 100px;
    padding: 8px 10px;
}

.illu {
    width: 300px;
    top: 175px;
    right: 100px;
    z-index: 5;
}

.illu-two {
    width: 100px;
    top: 355px;
    left: 255px;
    z-index: 5;
}

@-moz-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}